$red-text = #FF4672
$blue-green-text = #35E8E8
$orange-text = #FF9431
$green-text = #2CBE44
$blue-text = #34b8ff
$blue = #21BFF2
$blue-hover = darken($blue, 10%)
$border-color = rgba(107, 200, 250, 0.16)
$box-border-color = rgba(107, 200, 250, 0.24)
$box-light-border = rgba(33, 191, 242, 0.32)
$box-item-bg = #0A498F
$orange-number = #FF9029
$blue-number = #21BFF2
$background-number = rgba(10, 73, 143, 0.32)
$background-list = rgba(10, 73, 143, 0.72)
$background-light = rgba(33, 191, 242, 0.12)